<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./assets/css/style.css">
    <title>Boolflix</title>
</head>
<body>
    <div id="app">
        <nav class="navigator">
            <img src="netflix.png" alt="">
            <div id="form" class="cerca"> 
                <input type="search" id="query1" v-model="query" @keyup.enter="cercaFilm()" name="q" placeholder="Cerca film o serie tv">
                <button @click="cercaFilm()">Cerca</button>
            </div>
        </nav>
        <main>
            <div class="card_container">
                <!-- SEZIONE FILM -->
                <div class="film_card" v-for="film in films"> 

                    <div class="frontCard">
                        <!-- Poster del film -->
                        <div v-if="film.poster_path == 'null'">
                            <span>Image not found</span>
                        </div>
                        <div v-else>
                            <img :src="'https://image.tmdb.org/t/p/w154/' + film.poster_path" alt="">
                        </div>
                    </div>

                    <div class="hoverCard">
                            <!-- Titolo del film / se il titolo attuale è uguale a quello originale, mostrarne uno solo  -->
                        <h3>{{film.title}}</h3>
                        <div v-if="film.title != film.original_title">
                            <h3>{{film.original_title}}</h3>
                        </div>
                        <!-- Voto del film -->
                        <h5>Voto: {{film.vote_average}}</h5>
                        <!-- Bandiera paese originale -->
                        <h6>Lingua originale: {{film.original_language}}</h6>
                        <!-- Se la lingua originale è en, trasformare in gb -->
                        <div v-if="film.original_language == 'en'">
                            <img :src="'https://www.countryflags.io/gb/shiny/32.png'">
                        </div>
                        <!-- Se la lingua originale è ja, trasformare in jp -->
                        <div v-else-if="film.original_language == 'ja'">
                            <img :src="'https://www.countryflags.io/jp/shiny/32.png'">
                        </div>
                        <!-- Se la lingua originale è us, trasformare in gb -->
                        <div v-else-if="film.original_language == 'us'">
                            <img :src="'https://www.countryflags.io/gb/shiny/32.png'">
                        </div>
                        <!-- Se la lingua originale è ko, trasformare in kr -->
                        <div v-else-if="film.original_language == 'ko'">
                            <img :src="'https://www.countryflags.io/kr/shiny/32.png'">
                        </div>
                        <!--Se la lingua originale è hi, trasformare in in  -->
                        <div v-else-if="film.original_language == 'hi'">
                            <img :src="'https://www.countryflags.io/in/shiny/32.png'">
                        </div>
                        <!-- Altrimenti mostrare quella originale -->
                        <div v-else>
                            <img :src="'https://www.countryflags.io/' + film.original_language + '/shiny/32.png'">
                        </div>
                    </div>
                    
                </div>
            </div>
            <!-- //SEZIONE FILM -->
            
            <!-- SEZIONE SERIE TV -->
            <div class="tv_container">
                <div class="series_card" v-for="serie in series"> 

                    <div class="frontCard">
                        <!-- Poster della serie -->
                        <img :src="'https://image.tmdb.org/t/p/w92/' + serie.poster_path" alt="">
                    </div>
                   <div class="hoverCard">
                        <!-- Titolo della serie / se il titolo è uguale al nome originale, mostrarne uno solo -->
                        <h3>{{serie.name}}</h3>
                        <div v-if="serie.name != serie.original_name">
                            <h3>{{serie.original_name}}</h3>
                        </div>
                        <!-- Bandiera paese origine -->
                        <h5>Lingua originale: {{serie.original_language}}</h5>
                        <!-- Voto della serie -->
                        <h6>Voto: {{serie.vote_average}}</h3>
                        <!-- Se la lingua originale è en, trasformare in gb -->
                        <div v-if="serie.original_language == 'en'">
                            <img :src="'https://www.countryflags.io/gb/shiny/32.png'">
                        </div>
                        <!-- Se la lingua originale è ja, trasformare in jp -->
                        <div v-else-if="serie.original_language == 'ja'">
                            <img :src="'https://www.countryflags.io/jp/shiny/32.png'">
                        </div>
                        <!-- Se la lingua originale è us, trasformare in gb -->
                        <div v-else-if="serie.original_language == 'us'">
                            <img :src="'https://www.countryflags.io/gb/shiny/32.png'">
                        </div>
                        <div v-else-if="serie.original_language == 'ko'">
                            <img :src="'https://www.countryflags.io/kr/shiny/32.png'">
                        </div>
                        <!--Se la lingua originale è hi, trasformare in in  -->
                        <div v-else-if="serie.original_language == 'hi'">
                            <img :src="'https://www.countryflags.io/in/shiny/32.png'">
                        </div>
                        <!-- Altrimenti mostrare la bandiera originale -->
                        <div v-else>
                            <img :src="'https://www.countryflags.io/' + serie.original_language + '/shiny/32.png'">
                        </div>
                   </div>
                    
                    
                </div>
            </div>
            <!-- //SEZIONE SERIE TV -->
            
        </main>
    </div>


    <!-- VUEJS -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <!-- AXIOS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"></script>
    <!-- MAIN JS -->
    <script src="./assets/js/main.js"></script>
</body>
</html>